PORT=3001
DB_HOST=your-mysql-server.mysql.database.azure.com
DB_PORT=3306
DB_USER=mysqladmin
DB_PASS=yourpassword
DB_NAME=bookreview
JWT_SECRET=mysecretkey
ALLOWED_ORIGINS=http://20.200.112.223,http://localhost:3000
